body {
    color: black;
    text-align: center;
    background-color: #dbf5b3;
}

nav {
    margin-top: 50px;
}

#content_two, #content_three, #content_four {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    display: inline;
}

h1 {
    font-weight: bold;
    font-size: 150%;
    color: red;
}

a {
    margin: 10px;
    color: #007d12;
    font-size: 150%;
    text-decoration: underline;
}

.district, table {
    margin: 25px auto;
}

p {
    width: 90%;
    margin: auto;
    font-family: 'Arima Madurai', cursive;
    font-size: 21px;
    text-indent: 30px;
    text-align: justify;
} 

p+p {
    margin-top: 20px;
}

.dark {
    padding: 10px;
    background-color: #BFF073;
}

td {
    padding: 10px;
    text-align: left;
}

.light {
    text-align: right;
    border-right: 10px solid #dbf5b3;
}

footer {
    background-color: #BFF073;
}

footer a {
    font-size: 75%;
}

.my_logo {
    font-size: 100%;
    text-align: center;
}

figure {
    display: inline-block;
    margin: 10px;
    width: 40%;
    text-align: center;
    font-size: 21px;
    color: #F7EAC8;
    background: #21C469;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.add {
    text-align: center;
}

.model a {
    text-decoration: none;
    cursor: pointer;
}

.model {
    margin: auto;
    width: 90%;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    background-color: #BFF073;
}

.about_all {
    display: none;
}












