body {
    color: black;
    text-align: center;
    background-color: #dbf5b3;
}

#content_two, #content_three {
    display: none;
}

h1 {
    font-weight: bold;
    font-size: 150%;
    color: red;
}

a {
    margin: 10px;
    color: #007d12;
    font-size: 150%;
    text-decoration: underline;
}

img, table {
    width: auto;
    margin: 25px auto;
}

.speedometer {
    margin-top: 0px;
    margin-bottom: 50px;
}

p {
    width: 70%;
    margin: auto;
    font-family: 'Arima Madurai', cursive;
    font-size: 125%;
    text-indent: 30px;
    text-align: justify;
} 

p+p {
    margin-top: 20px;
}

.dark {
    padding: 10px;
    background-color: #BFF073;
}

td {
    padding: 10px;
    text-align: left;
}

.light {
    text-align: right;
    border-right: 10px solid #dbf5b3;
}

footer {
    background-color: #BFF073;
}

footer a {
    font-size: 75%;
}

.my_logo {
    font-size: 100%;
    text-align: center;
}








